<p>Sau chiến thắng trước quân Tần, An Dương Vương quyết định giao cho tướng Cao Lỗ xây thành Cổ Loa nhằm củng cố thêm khả năng phòng thủ quân sự. Tục truyền rằng thành xây nhiều lần nhưng đều đổ. Sau có thần Kim Quy hiện lên, bò quanh bò lại nhiều vòng dưới chân thành. Thục An Dương Vương bèn cho xây theo dấu chân Rùa vàng. Từ đó, thành xây không đổ nữa. An Dương Vương cũng phát triển thuỷ binh và cho chế tạo nhiều vũ khí lợi hại, tạo lợi thế quân sự vững chắc cho Cổ Loa.
</p>
<p>
Di tích của thành Cổ Loa vẫn còn lưu lại cho đến nay, cách trung tâm Hà Nội khoảng 20 km về phía đông bắc. Đền thờ An Dương Vương nằm ở trung tâm di tích này. Các nghiên cứu khảo cổ học tại đây vẫn tiếp tục làm sáng tỏ các thời kỳ lịch sử mà thành đã trải qua.
</p>
<img src="/images/07_trongthuy.jpg" class="illustration">