<img src="/images/08_mychau.jpg" class="illustration">
<p>Ít lâu sau, Triệu Đà từ quận Nam Hải (Quảng Đông bây giờ) sang đánh Âu Lạc. Nhờ vào chuẩn bị quân sự tốt, An Dương Vương đã chống cự được hiệu quả. Triệu Đà buộc phải dùng kế nội gián bằng cuộc kết hôn giữa con trai mình, Trọng Thủy, và con gái An Dương Vương là Mỵ Châu. Sau khi nắm được bí mật quân sự của An Dương Vương thông qua con trai, Triệu Đà đã thành công trong việc chinh phục Âu Lạc, buộc An Dương Vương bỏ chạy và tự tử, kết thúc thời kỳ An Dương Vương.
  </p>