<h1>Nhà Tiền Lý</h1>
<p>Lý Bí (503-548) là người Thái Bình, phủ Long Hưng (Sơn Tây). Ông là người có công đánh đuổi quân đô hộ nhà Lương (thời Nam Bắc triều), sáng lập ra nhà Tiền Lý. Ông cũng có một người anh là Lý Thiên Bảo.
</p>
<p>
Tổ tiên Lý Bí là người Trung Quốc, cuối thời Tây Hán khổ về việc đánh dẹp, mới tránh sang ở đất phương Nam, được 7 đời thì thành người Nam. Sử chép Lý Bí vốn con nhà hào trưởng, thiên tư lỗi lạc, làm quan không được vừa ý nên cáo quan về quê, tập hợp nhân tài lo khởi nghĩa.
</p>
<p>
  Đầu năm Giáp Tý 544, Lý Bí nhân thắng quân địch, tự xưng là Nam Việt đế, đặt niên hiệu là Thiên Đức, đặt tên nước là Vạn Xuân, có ý mong xã tắc lâu dài đến muôn đời. Ông dựng điện Vạn Xuân [1] để làm chỗ triều hội.

  Lý Nam đế đặt ra trăm quan, dùng Triệu Túc làm thái phó, Tinh Thiều làm tướng văn, Phạm Tu làm tướng võ.

  Đó là lần đầu tiên Việt Nam có hoàng đế và niên hiệu Thiên Đức là niên hiệu riêng đầu tiên để chứng tỏ giành lại độc lập từ tay Trung Quốc.
</p>
<p>
  Tháng 6 năm 545, vua Lương Vũ đế (Tiêu Diễn) phong Dương Phiếu làm thứ sử Giao Châu, sai đi đánh Lý Nam đế, cử Trần Bá Tiên làm tư mã; thứ sử Định Châu là Tiêu Bột cùng họp với Dương Phiến ở Tây Giang. Tiêu 
  Bột biết ý các tướng sĩ sợ phải đi đánh xa, nên nói dối để Dương Phiếu ở lại. Dương Phiếu tập họp các tướng lại để hỏi mưu kế. Bá Tiên nói: "Quan thứ sử Định Châu muốn tạm an nhàn trước mắt, không nghĩ
   đến mưu kế lớn, túc hạ vâng mạng vua đi đánh kẻ có
</p>