<img src="/images/17_tqphuc.jpg" class="illustration">
<p>tội dù sống chết thế nào cũng không quản ngại, lẽ nào dùng dằng không tiến quân để nuôi cho thế giặc thêm mạnh mà làm cho quân mình nản chí hay sao?". 
 Bá Tiên liền thúc quân mình đi trước. Dương Phiếu cử Bá Tiên làm tiên phong.

Quân Lương đến Giao Châu, Lý Nam đế mang quân ra đánh bị thua nặng, chạy sang thành Gia Ninh. Quân Lương tiến vây thành.

Tháng giêng năm 546, thành Gia Ninh vỡ, tướng Phạm Tu và thái phó Triệu Túc cùng tử trận, Lý Nam đế chạy đi Tân Xương là vùng của người Lạo. Tại đây, ông chiêu mộ thêm được nhiều binh lính, uy thế lại tăng lên.

Tháng 8, Lý Nam đế lại đem quân từ trong xứ người Lạo ra, đóng đồn ở hồ Điển Triệt [2]. Quân Lương lo sợ, cứ đóng ở cửa hồ, không dám tiến. Trần Bá Tiên bảo các tướng: "Quân ta ở đây đã lâu, mà lại không có quân tiếp viện. 
Bây giờ đã đi sâu vào trong nước người ta, nếu một trận đánh nào bất lợi, còn mong gì sống mà về được nữa? Chi bằng bây giờ nhân dịp quân địch đang thua luôn mấy trận, lòng người chưa cố kết, ta nên liều chết gắng 
sức quyết đánh bằng được. Nếu vô cớ cứ đóng ở đây thì việc hỏng mất!". Các tướng nhà Lương không ai trả lời. Đêm hôm ấy, nước sông bỗng lên to đến bảy thước, chảy rót vào
</p>