<p class="no_prior_illustration">trong hồ. 
Bá Tiên đốc thúc quân bản bộ mình theo dòng nước tiến đi trước. Quân Lương đánh trống, reo hò, kéo tràn vào. Quân Lý Nam đế mới tập hợp bị đánh úp nên tan vỡ.

Lý Nam đế lại rút lui về giữ trong động Khuất Lạo, điều chỉnh tinh lính, mưu tính chiến đấu về sau. Ông giao lại binh quyền cho tả tướng quân Triệu Quang Phục.</p>