* {margin:0; padding:0;}

body {width:600px; height:784px; overflow:hidden; background:url(../images/bg.jpg) no-repeat; font-family:Baskerville Old Face; font-size:13px; color:#555;}

#stage {width:508px; height:727px; margin:30px auto 0;}

#stage_content {padding:30px;}

h1 {margin:30px 0; font-weight:normal; text-align:center;}

p {margin:30px 0; line-height:25px;}

.illustration {display:block; margin:0 auto; width:340px; border:1px solid;}
.first_illustration {display:block; margin:0 auto 30px; width:340px;}

.no_prior_illustration {margin-top:0;}

#splash {background:url(../images/vietnam_history.jpg) no-repeat; width:600px; height:784px;}
