<img src="/images/15_btrieu.jpg" class="illustration">
<h1>Bà Triệu</h1>
<p>Bà Triệu sinh năm Ất Tỵ (225) tại miền núi Quân Yên (hay Quan Yên), quận Cửu Chân (nay thuộc xã Định Công, huyện Yên Định, tỉnh Thanh Hóa).

Thủa nhỏ cha mẹ đều mất sớm, Bà Triệu đến ở với anh là Triệu Quốc Đạt, một hào trưởng ở Quan Yên.

Lớn lên, bà là người có sức mạnh, giỏi võ nghệ, lại có chí lớn. Đến độ 20 tuổi gặp phải người chị dâu (vợ ông Đạt) ác nghiệt [4], bà giết đi rồi vào ở trong núi Nưa (nay thuộc xã Tân Ninh huyện Triệu Sơn, Thanh Hoá), chiêu mộ được hơn ngàn tráng sĩ.

Năm Mậu Thìn (248), thấy quan lại nhà Đông Ngô (Trung Quốc) tàn ác, dân gian khổ sở, Bà Triệu bèn bàn với anh việc khởi binh chống lại. Lúc đầu, anh bà không tán thành nhưng sau chịu nghe theo ý kiến của em.

Từ hai căn cứ núi vùng Nưa và Yên Định, hai anh em bà dẫn quân đánh chiếm quận lỵ Tư Phố nằm ở vị trí hữu ngạn sông Mã. Đây là căn cứ quân sự lớn của quan quân nhà Đông Ngô trên đất Cửu Chân, đứng đầu là Tiết Kính Hàn. Thừa thắng, 
lực lượng nghĩa quân chuyển hướng xuống hoạt động ở vùng đồng bằng con sông này.
</p>