<p class="no_prior_illustration">
  Đang lúc ấy, Triệu Quốc Đạt lâm bệnh qua đời. Các nghĩa binh thấy bà làm tướng có can đảm, bèn tôn lên làm chủ. Khi ra trận, Bà Triệu mặc áo giáp vàng, đi guốc ngà, cài trâm vàng, cưỡi voi[7] và được tôn là Nhụy Kiều tướng quân.[8]

  Được tin cuộc khởi nghĩa lan nhanh[9], vua Ngô là Tôn Quyền liền phái tướng Lục Dận (cháu của Lục Tốn), sang làm thứ sử Giao Châu, An Nam hiệu uý, đem theo 8.000 quân sang đàn áp cuộc khởi nghĩa. Đến nơi, tướng Lục Dận liền dùng của cải mua chuộc một số lãnh tụ địa phương để làm suy yếu và chia rẽ lực lượng nghĩa quân.

  Những trận đánh ác liệt đã diễn ra tại căn cứ Bồ Điền [10]. Song do chênh lệch về lực lượng và không có sự hỗ trợ của các phong trào đấu tranh khác nên căn cứ Bồ Điền bị bao vây cô lập, và chỉ đứng vững được trong hơn hai tháng.

  Theo Trần Trọng Kim trong Việt Nam sử lược, bà chống đỡ với quân Đông Ngô được năm sáu tháng thì thua. Bà Triệu đã tuẫn tiết trên núi Tùng (xã Triệu Lộc, huyện Hậu Lộc, Thanh Hóa) vào năm Mậu Thìn (248), lúc mới 23 tuổi.

  Nước Việt lại bị nhà Đông Ngô đô hộ cho đến 265.
</p>