<img src="/images/18_mhde.jpg" class="illustration">
<h1>Mai Hắc Đế</h1>
<p>
  Mai Hắc Đế tên thật là Mai Thúc Loan là vua nước Việt Nam, anh hùng dân tộc, người lãnh đạo cuộc khởi nghĩa nông dân chống sự chiếm đóng của nhà Đường ở Việt Nam vào đầu thế kỉ thứ 8. Ông quê ở Mai Phụ (Lộc Hà, Hà Tĩnh)
   nhưng sinh ra ở Nam Đàn, Nghệ An, Việt Nam.
</p>
<p>
  Mai Thúc Loan sinh vào khoảng cuối thế kỷ 7, tại thôn Ngọc Trừng, Hoan Châu, nay thuộc huyện Nam Đàn, Nghệ An. Theo "Việt điện u linh", Bố Mai Thúc Loan là Mai Sinh, mẹ là Vương Thị nguyên gốc Lộc Hà - 
  Hà Tĩnh, lưu lạc sang vùng Nam Đàn - Nghệ An.

  Năm Mai Thúc Loan 10 tuổi, mẹ đi hái củi bị hổ vồ, ít lâu sau bố cũng mất. Ông được người bạn của bố là Đinh Thế đem nuôi, sau gả con gái là Ngọc Tô cho. Sinh thời Mai Thúc Loan vốn rất khỏe mạnh, 
  giỏi vật, học rất giỏi và có chí lớn. Ông mở lò vật, lập phường săn, chiêu mộ trai tráng trong vùng mưu việc lớn.
  </p>