<p class="no_prior_illustration">
  Vợ ông giỏi việc nông trang, nhờ đó "gia sản ngày một nhiều, môn hạ ngày một đông". Nhờ chí du ngoạn lại được vợ hết lòng ủng hộ, Mai Thúc Loan kết thân với nhiều hào kiệt, sau này trở thành những tướng tài tụ nghĩa dưới lá cờ của ông như Phòng Hậu, Thôi Thặng, Đàn Vân Du, Mao Hoành, Tùng Thụ, Tiết Anh, Hoắc Đan, Khổng Qua, Cam Hề, Sỹ Lâm, Bộ Tân,...
</p>
<p>
  Khởi nghĩa Hoan Châu do Mai Thúc Loan lãnh đạo nổ ra vào năm Khai Nguyên thứ nhất đời vua Đường Huyền Tông ở Trung Hoa, tức năm Quý Sửu (713). Khởi nghĩa nổ ra tại Rú Đụn, còn gọi là Hùng Sơn (Nghệ An). Tương truyền lúc đó ông cùng đoàn phu gánh vải 
  nộp cho nhà Đường, đã kêu gọi các phu gánh vải nổi dậy chống quân Đường. Tuy nhiên, hiện nay các nhà nghiên cứu đều thống nhất: sưu cao, thuế nặng là nguyên nhân khiến nhân dân nổi dậy chống lại ách đô hộ nhà Đường, nổi bật là khởi nghĩa Hoan Châu. 
  Đây là cuộc khởi nghĩa có sự chuẩn bị, biết chọn thời cơ, không phải một cuộc bạo động. Chuyện "cống vải" là một chi tiết của truyền thuyết, không thể và không phải là nguyên nhân chính nổ ra cuộc kháng chiến giải phóng dân tộc do Mai Thúc Loan lãnh đạo.
</p>
<p>
  Tháng 4 năm 713, Mai Thúc Loan lên ngôi vua, sử gọi ông là Mai Hắc Đế (Mai Hắc Đế mang mệnh thủy tức là nước, mà nước được tượng trưng là màu đen. Vì vậy, ông lấy hiệu là Hắc Đế để hợp với mệnh của mình (theo Việt điện u linh)). Ông cho xây thành 
  lũy, lập kinh đô Vạn An (thuộc xã Văn Diên và thị trấn Nam Đàn hiện nay), tích cực rèn tập tướng sỹ. Cuộc nổi dậy của ông được hưởng ứng rộng rãi ở trong nước và có thể có cả sự trợ giúp của Lâm Ấp và Chân Lạp.
  </p>
<p>
  Năm Giáp Dần (714), Mai Hắc Đế tiến binh đánh thành Tống Bình (Hà Nội ngày nay). Thái thú nhà Đường là Quách Sở Khách cùng đám thuộc hạ không chống cự
</p>
  