<p class="no_prior_illustration">
  lại được, phải bỏ thành chạy về nước. Lực lượng Mai Hắc Đế lúc đó lên tới chục vạn quân. Nhà Đường bèn huy động 10 vạn quân do tướng Dương Thừa Húc và Quách Sở Khách sang đàn áp. Quân quan nhà Đường tiến theo đường bờ biển Đông Bắc và tấn công thành Tống Bình.[1] Sau nhiều trận đánh khốc liệt, từ lưu vực sông Hồng đến lưu vực sông Lam, cuối cùng Mai Hắc Đế thất trận, thành Vạn An thất thủ, nghĩa quân tan vỡ. Không đương nổi đội quân xâm lược, Mai Hắc Đế phải rút vào rừng, sau bị ốm rồi mất.

  Từ thời điểm đánh chiếm Hoan Châu, lên ngôi vua, củng cố lực lượng, Mai Thúc Loan đã giải phóng toàn bộ đất nước và giữ vững nền độc lập trong 10 năm (713 - 722), không phải cuộc khởi nghĩa do ông lãnh đạo nổ ra và bị dập tắt ngay trong cùng một năm 722 như các tài liệu phổ biến hiện nay[4].

  Tương truyền, con trai thứ ba của ông là Mai Thúc Huy lên ngôi Hoàng Đế tức Mai Thiếu Đế và tiếp tục chống trả các cuộc tấn công của nhà Đường tới năm 723.

  Tương truyền từ sau cuộc khởi nghĩa này, nhà Đường không bắt dân An Nam đô hộ phủ nộp cống vải quả hằng năm nữa[5].
</p>