<h1>Hai Bà Trưng</h1>
<img src="/images/12_hbtrung_color.jpg" class="illustration">
<p>
  Năm 40, Thái thú Tô Định tàn ác, lòng dân Giao Chỉ oán hận. Tô Định giết Thi Sách là chồng bà Trưng Trắc. Bà Trưng Trắc cùng em là Trưng Nhị mộ quân đánh đuổi Tô Định chạy về Tàu . Hai Bà tự xưng là vua đóng đô ở Mê Linh. Hai Bà Trưng là thánh nữ, là anh thư của đất nước Việt Nam. Hai Bà đã dũng mãnh đứng lên chống quân xâm lăng, tạo dựng nền độc lập cho đất nước, mang đất nước thoát khỏi ách đô hộ của giặc Tàu.
</p>
<p>
  Ngày 30 tháng 2 năm Tân Sửu (41), nhà Hán thấy bà xưng vương dấy quân đánh lấy các thành ấp, các quận biên thùy, nên hạ lệnh cho các quận Trường Sa, Hợp Phố và Giao Châu sắp sẵn xe thuyền, 
  sửa sang cầu đường, thông các núi khe, chứa thóc lương, cho Mã Viện làm 
</p>