<img src="/images/13_hbtrung.jpg" class="illustration">
<p>Phục Ba tướng quân, Phù Lạc hầu Lưu Long làm phó sang xâm lược.</p>
<p>Tháng Giêng năm Nhâm Dần (42), Mã Viện tiến theo đường ven biển, san núi làm đường hơn nghìn dặm, đến Lãng Bạc (ở phía tây Tây Nhai của La Thành) đánh nhau với vua. Quân Nam bấy giờ ô hợp, 
  rất nhiều thủ lĩnh không phục hai vua là đàn bà, lớp tan rã, lớp tự ly khai. Hai bà thấy thế giặc mạnh lắm, không chống nổi, bèn lui quân về giữ Cấm Khê (sử chép là Kim Khê).
</p>
<p>
  Năm Quý Mão (43), Hai Bà Trưng chống cự lại với quân nhà Hán, thế cô bị thua, đều tử trận[3]. Mã Viện đuổi theo đánh quân còn sót lại huyện Cư Phong thì tàn quân đầu hàng, Mã Viện bèn dựng cột đồng 
  (tương truyền ở trên động Cổ Lâu châu Khâm)[4] làm giới hạn cuối cùng của nhà Hán, và khắc lên đó dòng chữ thề: "Cột đồng gãy thì Giao Chỉ diệt" (Đồng trụ chiết, Giao Chỉ diệt). 
  Từ đây, nước Việt lại thuộc quyền kiểm soát của nhà Hán.
</p>