<!DOCTYPE html>
<html>
<head>
  <title>Lich su Viet Nam</title>
  <link href="/stylesheets/master.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body id="<%= @body_id %>">
  
<div id="stage">
  <div id="stage_content">
    <%= yield %>
  </div>
</div>

</body>
</html>