<img src="/images/01_hungvuong_color.jpg" class="illustration" />

<h1>Thời kỳ Hồng Bàng</h1>

<p>
Thời kỳ Hồng Bàng theo truyền thuyết và dã sử cho rằng bắt đầu từ năm 2879 TCN, là niên đại vua Kinh Dương Vương, với quốc hiệu Xích Quỷ. Địa bàn của quốc gia dưới thời vua Kinh Dương rộng lớn, phía bắc tới sông Dương Tử (cả vùng hồ Động Đình), phía nam tới nước Hồ Tôn (Chiêm Thành), phía đông là Đông Hải (một phần của Thái Bình Dương), phía tây là Ba Thục (Tứ Xuyên, Trung Quốc ngày nay). Về sau người Việt chỉ thấy có ở miền Bắc Việt Nam ngày nay, có thể một phần do sự lấn áp của các tộc người Hoa Hạ từ phương Bắc.
</p>
<p>
Theo Đại Việt sử ký toàn thư: Vua Đế Minh là cháu ba đời của vua Thần Nông, đi tuần thú phương Nam, đến núi Ngũ Lĩnh (nay thuộc tỉnh Hồ Nam, Trung Quốc), gặp một nàng tiên, lấy nhau đẻ ra 
người con tên là Lộc Tục. Sau Đế Minh truyền ngôi lại cho con trưởng là Đế Nghi làm vua phương Bắc (từ núi Ngũ Lĩnh về phía Bắc), phong cho Lộc Tục làm vua phương Nam 
(từ núi Ngũ Lĩnh về phía Nam),
</p>