<p class="no_prior_illustration">xưng là Kinh Dương Vương, quốc hiệu là Xích Quỉ. Kinh Dương Vương làm vua Xích Quỉ vào năm Nhâm Tuất 2897 TCN, lấy con gái Động Đình Hồ 
quân (còn có tên là Thần Long) là Long nữ đẻ ra Sùng Lãm, nối ngôi làm vua, xưng là Lạc Long Quân. Lạc Long Quân lấy con gái vua Đế Lai (con của Đế Nghi), tên là Âu Cơ, 
đẻ một lần trăm người con trai. Một hôm, Lạc Long Quân bảo Âu Cơ rằng: "Ta là giống rồng, nàng là giống tiên, thủy hỏa khắc nhau, chung hợp thật khó". Bèn từ biệt nhau, chia 50 
con theo mẹ về núi, 50 con theo cha về ở miền biển (có bản chép là về Nam Hải), phong cho con trưởng làm Hùng Vương, nối ngôi vua.
</p>
<img src="/images/02_hungvuong.jpg" class="illustration">
<p>
  Đến đời Hùng Vương thứ 18, Thục Phán ở phía đông bắc Văn Lang sang đánh (năm 258 TCN), kết thúc thời kỳ nhà nước Văn Lang. Ngày nay ở vùng cao nguyên Đà Lạt, vẫn còn một tộc người thiểu số tự xưng là con cháu loài chim Lạc, có thể giả định là di dân của các bộ lạc Lạc Việt cổ sau nhiều thời kỳ chiến tranh loạn lạc.
</p>